<!-- This is the EJS (Embedded JavaScript) that displays the courses data in HTML -->
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <!-- removed link to local CSS stylesheet to find out why styling isn't rendering -->
    <!-- <link href="main.css" rel="stylesheet" />  -->

    <!-- using style tag instead  -->
    <style>
        html {
            background-color: #000;
        }

        body {
            min-height: 1056px;
            max-width: 816px;
            background-color: papayawhip;
            margin: 0 auto;
        }

        .transcript_title {
            width: 382px;
            color: rgba(51, 51, 51, 1);
            position: absolute;
            top: 28px;
            left: 456px;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            font-family: Poppins;
            font-weight: normal;
            font-size: 20px;
            opacity: 1;
            text-align: left;
        }
    </style>
</head>



<body>
    <span class="transcript_title">
        Courses Completed Transcript
    </span>
    <!-- document body -->

</body>

</html>